{% load static %}{% load crispy_forms_tags %}
    <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>{% block title %}书籍推荐{% endblock %}</title>
{#      <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>#}
{#            <script#}
{#      src="https://labfile.oss.aliyuncs.com/courses/1379/jquery-3.2.1.slim.min.js"#}
{#      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"#}
{#      crossorigin="anonymous"#}
{#    ></script>#}
        <script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
      <link rel="stylesheet" href="https://labfile.oss.aliyuncs.com/courses/1379/font-awesome.min.css"/>
      <link rel="stylesheet" type="text/css" href="{% static 'users/css/freelancers.css' %}"/>
      <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}" />
      <link rel="stylesheet" href="{% static 'users/css/profile.css' %}" />

      {#<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">#}
      <link href="{% static 'book/css/star-rating.css' %}" media="all" rel="stylesheet" type="text/css"/>
      <script src="{% static 'book/js/star-rating.js' %}" type="text/javascript"></script>
{#<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">#}
{#<link href="{% static 'book/css/star-rating.css' %}" media="all" rel="stylesheet" type="text/css" />#}
{#<script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>#}
{#<script src="{% static 'book/js/star-rating.js' %}" type="text/javascript"></script>#}
 <script>
   {#jQuery(document).ready(function () {#}
       {#$(".rating-kv").rating();});#}
   jQuery(document).ready(function() {
    var $inp = $('#rating-input');

    $inp.rating({
        min: 0,
        max: 5,
        step: 1,
        size: 'xs', //lg xs xl 大小
        readonly: false, //只读
        showCaption: false, //不显示右边内容
        showClear: false //清除按钮
    });

    $inp.rating("showStars", 0); //默认显示

    $inp.on('rating.change', function() {
        //alert($('#rating-input').val());
        //刷新
        //$inp.rating('refresh', {
        //    showClear: false,
        //    readonly: true
        //});
    });

});
</script>
    <style>
        #book_img{
            float: left;
        }
        #book_detail{
            margin: 30px 50px 30px 30px;
            float: left;
        }
    </style>
    {% if user.is_authenticated and user.is_user %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/owners.css' %}"/>
    {% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/freelancers.css' %}"/>
    {% endif %} {% block styles %} {% endblock %}
  </head>
  <body>

    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">
            书籍推荐
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        {% if user.is_authenticated %}
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link btn btn-sm btn-outline-secondary float-right"{#    href="{% url 'users:job_profile' user.username %}"#}>
                    My jobs
              </a>
            </li>
            <li>
                <a{#    href="{% url 'direct_messages:list_message' %}"#} class=" nav-link  btn btn-sm btn-outline-secondary float-right" type="button">
                    Messages
                </a>
            </li>
            <li>
                <a{#  href="{% url 'jobs:job_list' %}"#} class=" nav-link  btn btn-sm btn-outline-secondary float-right" type="button">
                    All jobs
                </a>
            </li>
          </ul>
        </div>


        {% else %}
            <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                <ul class="navbar-nav">
                   <li>
                        <a href="{% url 'users:login' %}" class="btn btn-outline-success   float-right" role="button">
                            Log in
                        </a>
                   </li>
                    <li>
                        <a href="{% url 'users:signup' %}" class="btn btn-outline-success  float-right" role="button">
                            Sign up
                        </a>
                    </li>
                </ul>
          </div>


        {% endif %} {% if user.is_authenticated and user.is_owner %}
        <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="{% url 'jobs:job_add' %}" class="nav-link  btn btn-sm btn-outline-secondary float-right" type="button">
                  Create Job
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'users:list_freelancer'%}" class="nav-link  btn btn-sm btn-outline-secondary float-right" type="button">
                  Freelancers
              </a>
            </li>
          </ul>
        </div>
        {% endif %} {% if user.is_authenticated %}

        <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle btn btn-sm btn-outline-secondary float-right" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ user.username }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'users:user_profile' user.username %}">
                    Settings
                </a>
                <a class="dropdown-item" href="{% url 'users:logout' %}">
                    Logout
                </a>
              </div>
            </li>
          </ul>
        </div>

        {% endif %}
      </nav>
    </div>

    <div class="container my-4">
      <div class="row justify-content-center">
        <div class="col-md-10 col-sm-12">

          <div class="card mb-3">
            <div class="card-body">
              {% block content %} {% endblock %}
            </div>
          </div>

          <div class="card mb-3">
           <div class="card-body">
              <div id = "book_img">
    <img style="height:300px" src="{{ MEDIA_URL }}{{ book_detail.book_profile_photo.url }}" alt="" class=" img-responsive"/>
 </div>
    <div id="book_detail" >
        <p>
            <strong>书籍详情</strong><br>
            {#        <img style="height:12%" src="{{ MEDIA_URL }}{{ book_detail.book_profile_photo.url }}" alt="" class="img-circle img-responsive"/>#}
            <span> 书名: {{ book_detail.book_name  }} </span><br>
            <span>{{ book_detail.book_author }}</span><br>
            <span>大众评分: {{book_detail.book_rating  }}分</span><br>
            <span>ISBM码: {{ book_detail.book_isbm }}</span><br>
            <span>出版时间:{{book_detail.pub_date }}</span><br>
            <span>{{ book_detail.press_information  }}</span>
        </p>
 </div>
{#<p><stron> 个人评分: {{ user.rate_book_by_user }} </stron></p>#}
{# <p><strong> 评分按钮</strong></p>#}
    <form method="POST" action="" novalidate enctype="multipart/form-data">
  {% csrf_token %}
        {{ form|crispy }}
  <input name = "rating" id="input-21e" value="0" type="text" class="rating rating-input" data-min="0" data-max="5" data-step="0.5" data-size="xs" title="">
  <button type="submit" class="btn btn-success">Save</button>
  <a href="#" class="btn btn-outline-secondary" role="button">Nevermind</a>
</form>
    <br>
            </div>
          </div>

        <div class="card">
            <div id="book_reconment">
    <p>书籍推荐</p>
    <form method="POST" action="" novalidate enctype="multipart/form-data">
      {% csrf_token %} {{ form|crispy }}
       <input id="input-2b" type="number" class="rating" min="0" max="5" step="0.5" data-size="xl"
       data-symbol="&#xe005;" data-default-caption="{rating} hearts" data-star-captions="{}">
        <input id="input-id" type="number" class="rating" min=0 max=5 step=0.5 data-size="lg" >
      <input name = "rating" id="input-21e" value="0" type="text" class="rating rating-input" data-min="0" data-max="5" data-step="0.5" data-size="xs" title="">
      <button type="submit" class="btn btn-success">Save</button>
      <a href="#" class="btn btn-outline-secondary" role="button">Nevermind</a>
    </form>
    </div>
        </div>
          <footer>
            We are here to serve you better!
          </footer>
        </div>
      </div>
    </div>



{#    <script#}
{#      src="https://labfile.oss.aliyuncs.com/courses/1379/jquery-3.2.1.slim.min.js"#}
{#      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"#}
{#      crossorigin="anonymous"#}
{#    ></script>#}
    <script
      src="https://labfile.oss.aliyuncs.com/courses/1379/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript">
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>


  </body>
</html>



