<!DOCTYPE html>
<html>
  <head>
    <title>my page</title>
      <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
      <script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
      <style>
          #box1 {
              width: 200px;
              height: 200px;
              background-color: #80bdff;
              padding: 20px 10px 10px 50px;
          }
            #box2 {
                width: 150px;
                height: 150px;
                background-color: #721c24;
                padding: 30px 30px;
            }
      </style>
  </head>
  <body>
    <div id="box1" >dfasdfadsf</div>
    <div id="box2" >asdfasfdadfads</div>
  </body>
</html>